---
layout: default.njk
title: Containers
---

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

<h1 class="govuk-heading-l govuk-!-margin-bottom-6">Container maintenance</h1>

<div class="govuk-grid-row govuk-!-margin-top-9">
  <div class="govuk-grid-column-one-third">
    <img src="/assets/img/large-communal-recycling-bin.svg" width="760" height="778" alt="" style="max-width: 80%;">
  </div>
  <div class="govuk-grid-column-two-thirds">
    {{ govukSummaryList({
      rows: [
        {
          key: {
            text: "Reference"
          },
          value: {
            text: "0002201"
          }
        },
        {
          key: {
            text: "Waste type"
          },
          value: {
            text: "Mixed dry recycling"
          }
        },
        {
          key: {
            text: "Container"
          },
          value: {
            text: "1100 litre (Euro bin), blue with green lid "
          }
        },
        {
          key: {
            text: "Location"
          },
          value: {
            html: "Café Candide, 72 Guild Street"
          }
        }
      ]
    }) }}

    <div class="button-bar">
      {{ govukButton({
        text: "Report issue",
        href: "/containers/report"
      }) }}
      {{ govukButton({
        text: "Request another container",
        classes: "govuk-button--secondary"
      }) }}
    </div>

  </div>
</div>

<div class="govuk-grid-row govuk-!-margin-top-9">
  <div class="govuk-grid-column-one-third">
    <img src="/assets/img/large-communal-grey-black-lid@2x.png" width="479" height="435" alt="" style="max-width: 80%;">
  </div>
  <div class="govuk-grid-column-two-thirds">
    {{ govukSummaryList({
      rows: [
        {
          key: {
            text: "Reference"
          },
          value: {
            text: "0002063"
          }
        },
        {
          key: {
            text: "Waste type"
          },
          value: {
            text: "General waste"
          }
        },
        {
          key: {
            text: "Container"
          },
          value: {
            text: "1100 litre (Euro bin), grey with black lid"
          }
        },
        {
          key: {
            text: "Location"
          },
          value: {
            html: "Café Candide, 72 Guild Street"
          }
        }
      ]
    }) }}

    <div class="button-bar">
      {{ govukButton({
        text: "Report issue",
        href: "/containers/report"
      }) }}
      {{ govukButton({
        text: "Request another container",
        classes: "govuk-button--secondary"
      }) }}
    </div>

  </div>
</div>

<div class="govuk-grid-row govuk-!-margin-top-9">
  <div class="govuk-grid-column-one-third">
    <img src="/assets/img/bin-green-brown-lid@2x.png" width="800" height="800" alt="" style="max-width: 80%;">
  </div>
  <div class="govuk-grid-column-two-thirds">
    {{ govukSummaryList({
      rows: [
        {
          key: {
            text: "Reference"
          },
          value: {
            text: "0002041"
          }
        },
        {
          key: {
            text: "Waste type"
          },
          value: {
            text: "Food waste"
          }
        },
        {
          key: {
            text: "Container"
          },
          value: {
            text: "220 litre, green with brown lid "
          }
        },
        {
          key: {
            text: "Location"
          },
          value: {
            html: "Café Candide, 72 Guild Street"
          }
        }
      ]
    }) }}

    <div class="button-bar">
      {{ govukButton({
        text: "Report issue",
        href: "/containers/report"
      }) }}
      {{ govukButton({
        text: "Request another container",
        classes: "govuk-button--secondary"
      }) }}
    </div>

  </div>
</div>
