---
layout: default.njk
title: New waste collection agreement
---

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

<span class="govuk-caption-m govuk-!-margin-bottom-3">
  New waste collection agreement
</span>

<h1 class="govuk-heading-l govuk-!-margin-bottom-6">Review and accept Waste Transfer Note</h1>

{{ govukSummaryList({
  classes: "govuk-!-width-two-thirds",
  rows: [
    {
      key: {
        text: "Collection"
      },
      value: {
        text: "Dry mixed recycling, 1100 litres, weekly"
      }
    },
    {
      key: {
        text: "Waste Transfer Note"
      },
      value: {
        html: '<a href="#" class="govuk-link">View Waste Transfer Note PDF</a>'
      }
    }
  ]
}) }}


{{ govukCheckboxes({
  name: "accept",
  classes: "govuk-!-width-two-thirds",
  items: [
    {
      value: "accept",
      text: "I have read and understood the terms of the Waste Transfer Note, confirm that it is reflective of the waste to be collected, and accept that a valid physical or digital copy of the note may need to be presented at every waste collection."
    }
  ]
}) }}

<div class="button-bar">
  {{ govukButton({
    text: "Accept note",
    href: "/agreement/review/success",
    classes: "js-agreement-reviewed"
  }) }}
  {{ govukButton({
    text: "Cancel request",
    classes: "govuk-button--secondary"
  }) }}
</div>
