---
layout: default.njk
title: Add premises – New waste collection agreement
---

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}

<span class="govuk-caption-m govuk-!-margin-bottom-3">
  New waste collection agreement
</span>

{% call govukFieldset({
  legend: {
    text: "Add new premises",
    classes: "govuk-fieldset__legend--l",
    isPageHeading: true
  },
  classes: "govuk-!-width-one-half"
}) %}

  <div class="govuk-form-group">
    <label class="govuk-label" for="postcode">Postcode</label>

    <div style="display: flex; gap: 1rem;">
      <input class="govuk-input govuk-input--width-10" id="postcode" name="postcode" type="text" autocomplete="postal-code" data-st8-key="collection-postcode">
      {{ govukButton({
        text: "Search",
        href: "/agreement/new/check-premises"
      }) }}
    </div>
  </div>

{% endcall %}
