---
layout: default.njk
title: Add premises – New waste collection agreement
---

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/input/macro.njk" import govukInput %}

<span class="govuk-caption-m govuk-!-margin-bottom-3">
  New waste collection agreement
</span>

{% call govukFieldset({
  legend: {
    text: "Add new premises",
    classes: "govuk-fieldset__legend--l",
    isPageHeading: true
  },
  classes: "govuk-!-width-one-half"
}) %}

  {{ govukInput({
    label: {
      text: "Address line 1"
    },
    id: "address-line-1",
    name: "address-line-1",
    autocomplete: "address-line1",
    attributes: {
      "data-st8-key": "collection-address-line-1"
    }
  }) }}

  {{ govukInput({
    label: {
      text: "Address line 2 (optional)"
    },
    id: "address-line-2",
    name: "address-line-2",
    autocomplete: "address-line2",
    attributes: {
      "data-st8-key": "collection-address-line-2"
    }
  }) }}

  {{ govukInput({
    label: {
      text: "Town or city"
    },
    classes: "govuk-!-width-two-thirds",
    id: "address-town",
    name: "address-town",
    autocomplete: "address-level2",
    attributes: {
      "data-st8-key": "collection-address-town"
    }
  }) }}

  {{ govukInput({
    label: {
      text: "County (optional)"
    },
    classes: "govuk-!-width-two-thirds",
    id: "address-county",
    name: "address-county",
    attributes: {
      "data-st8-key": "collection-address-county"
    }
  }) }}

  {{ govukInput({
    label: {
      text: "Postcode"
    },
    classes: "govuk-input--width-10",
    id: "address-postcode",
    name: "addressPostcode",
    autocomplete: "postal-code",
    attributes: {
      "data-st8-key": "collection-postcode"
    }
  }) }}

{% endcall %}

{{ govukButton({
  text: "Continue",
  href: "/agreement/new/about-premises"
}) }}
