---
layout: default.njk
title: Your account
signed_in: true
---

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/tag/macro.njk" import govukTag %}

{{ govukBackLink({
  text: "Back to dashboard",
  href: "/dashboard",
  classes: "govuk-!-margin-top-0 govuk-!-margin-bottom-6"
}) }}

<h1 class="govuk-heading-l">Waste collection agreement</h1>

{{ govukSummaryList({
  classes: "govuk-!-width-two-thirds",
  rows: [
    {
      key: {
        text: "Reference"
      },
      value: {
        text: "0002041"
      }
    },
    {
      key: {
        text: "Status"
      },
      value: {
        html: govukTag({
          text: "Active",
          classes: "govuk-tag--green"
        })
      }
    },
    {
      key: {
        text: "Waste Transfer Note"
      },
      value: {
        html: '<a href="#" class="govuk-link">0002041-WTN.pdf</a>'
      }
    }
  ]
}) }}

<h2 class="govuk-heading-m govuk-!-margin-top-9">Collections in this agreement</h2>

{{ govukSummaryList({
  classes: "govuk-!-width-two-thirds",
  rows: [
    {
      key: {
        text: "Type"
      },
      value: {
        text: "Food waste"
      }
    },
    {
      key: {
        text: "Location"
      },
      value: {
        html: "Café Candide<br>72 Guild Street<br>London<br>SE23 6FH"
      }
    },
    {
      key: {
        text: "Container"
      },
      value: {
        html: '1 &times; 240 litre, green bin with brown lid <img src="/assets/img/bin-green-brown-lid@2x.png" width="800" height="800" alt="" style="margin-top: 0.5rem; max-width: 5rem;">'
      }
    },
    {
      key: {
        text: "Collection schedule"
      },
      value: {
        text: "Every week, on Tuesday"
      }
    }
  ]
}) }}

<h2 class="govuk-heading-m govuk-!-margin-top-9">Contract details</h2>

{{ govukSummaryList({
  classes: "govuk-!-width-two-thirds",
  rows: [
    {
      key: {
        text: "Contract start"
      },
      value: {
        text: "20th July 2025"
      }
    },
    {
      key: {
        text: "Contract end"
      },
      value: {
        text: "19th July 2026"
      }
    },
    {
      key: {
        text: "Invoice"
      },
      value: {
        html: '<a href="#" class="govuk-link">View Invoice PDF</a>'
      }
    }
  ]
}) }}

<h2 class="govuk-heading-m govuk-!-margin-top-9">Quick actions</h2>

<div class="quick-actions govuk-!-margin-bottom-9 govuk-!-width-two-thirds">
    <div class="card">
        <h3 class="card__title govuk-heading-s govuk-!-margin-bottom-2"><a href="#" class="card__stretched-link govuk-link">Request a temporary amendment</a></h3>
        <p class="card__body govuk-body">Make a short term adjustment to your collections</p>
    </div>
    <div class="card">
        <h3 class="card__title govuk-heading-s govuk-!-margin-bottom-2"><a href="/dashboard/past" class="card__stretched-link govuk-link">Cancel this agreement</a></h3>
        <p class="card__body govuk-body">Permanently end this collection agreement</p>
    </div>
</div>
