---
layout: default.njk
title: Change number of containers – Amendment
---

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/table/macro.njk" import govukTable %}

{{ govukBackLink({
  text: "Back",
  href: "/agreement/amend",
  classes: "govuk-!-margin-top-0 govuk-!-margin-bottom-6"
}) }}

<span class="govuk-caption-l govuk-!-margin-bottom-3">
  Agreement 0002041
</span>

<h1 class="govuk-heading-l govuk-!-margin-bottom-6">Change number of containers</h1>

{{ govukSummaryList({
  classes: "govuk-!-width-two-thirds govuk-!-margin-bottom-9",
  rows: [
    {
      key: {
        text: "Waste type"
      },
      value: {
        text: "Food waste"
      }
    },
    {
      key: {
        text: "Container"
      },
      value: {
        html: '240 litre, green with brown lid'
      }
    },
    {
      key: {
        text: "Schedule"
      },
      value: {
        text: "Every week, on Tuesday"
      }
    }
  ]
}) }}

<h2 class="govuk-heading-m">Upcoming collections</h2>

<p class="govuk-body">Set the number of containers to be collected on each date.</p>

{{ govukTable({
  classes: "govuk-table--align-middle govuk-!-width-two-thirds",
  head: [
    {
      text: "Collection date"
    },
    {
      text: "Number of containers"
    }
  ],
  rows: [
    [
      {
        text: "Tuesday 21st April 2026"
      },
      {
        html: govukSelect({
          id: "containers-21-apr",
          name: "containers-21-apr",
          classes: "govuk-!-margin-bottom-0",
          attributes: {
            "data-st8-key": "containers-21-apr"
          },
          items: [
            { value: "1", text: "1", selected: true },
            { value: "2", text: "2" },
            { value: "3", text: "3" },
            { value: "4", text: "4" },
            { value: "5", text: "5" }
          ]
        })
      }
    ],
    [
      {
        text: "Tuesday 28th April 2026"
      },
      {
        html: govukSelect({
          id: "containers-28-apr",
          name: "containers-28-apr",
          classes: "govuk-!-margin-bottom-0",
          attributes: {
            "data-st8-key": "containers-28-apr"
          },
          items: [
            { value: "1", text: "1", selected: true },
            { value: "2", text: "2" },
            { value: "3", text: "3" },
            { value: "4", text: "4" },
            { value: "5", text: "5" }
          ]
        })
      }
    ]
  ]
}) }}

{{ govukButton({
  text: "Continue",
  href: "/agreement/amend/containers/check"
}) }}
