---
layout: default.njk
title: Container changes confirmed – Amendment
---

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {{ govukPanel({
      titleText: "Container changes confirmed",
      html: "Agreement 0002041<br><strong>Food waste</strong>"
    }) }}

    <p class="govuk-body">We have sent you a confirmation email with a copy of this information.</p>

    <h2 class="govuk-heading-m">What happens next</h2>

    <p class="govuk-body">The number of containers for your upcoming collections has been updated. Any additional charges or credits will be applied to your next invoice.</p>

    {{ govukButton({
      text: "View your upcoming collections",
      classes: "govuk-button--secondary govuk-!-margin-top-5",
      href: "/collections"
    }) }}

  </div>
</div>
