---
layout: default.njk
title: Dry mixed recycling
signed_in: true
---

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/tag/macro.njk" import govukTag %}

{{ govukBackLink({
  text: "Back to dashboard",
  href: "/review-quote",
  classes: "govuk-!-margin-top-0 govuk-!-margin-bottom-6"
}) }}

<h1 class="govuk-heading-l">Waste collection agreement</h1>

{% set html %}
  <p class="govuk-notification-banner__heading">
    You have received a quote for review.
    <a class="govuk-notification-banner__link" href="/review-quote/invoice">Review quote to begin collections</a>.
  </p>
{% endset %}

{{ govukNotificationBanner({
  html: html
}) }}

{{ govukSummaryList({
  classes: "govuk-!-width-two-thirds",
  rows: [
    {
      key: {
        text: "Reference"
      },
      value: {
        text: "0002201"
      }
    },
    {
      key: {
        text: "Status"
      },
      value: {
        html: govukTag({
          text: "Awaiting review",
          classes: "govuk-tag--orange"
        })
      }
    }
  ]
}) }}

<h2 class="govuk-heading-m govuk-!-margin-top-9">Collections in this agreement</h2>

{{ govukSummaryList({
  classes: "govuk-!-width-two-thirds",
  rows: [
    {
      key: {
        text: "Type"
      },
      value: {
        text: "Dry mixed recycling"
      }
    },
    {
      key: {
        text: "Location"
      },
      value: {
        html: "Café Candide, 72 Guild Street<br>London<br>SE23 6FH"
      }
    },
    {
      key: {
        text: "Container"
      },
      value: {
        html: '1 &times; 660 litre, blue bin with green lid <img src="/assets/img/large-communal-recycling-bin.svg" width="760" height="778" alt="" style="margin-top: 0.5rem; max-width: 5rem;">'
      }
    },
    {
      key: {
        text: "Collection schedule"
      },
      value: {
        text: "Every week, on Tuesday"
      }
    },
    {
      key: {
        text: "First collection"
      },
      value: {
        text: "Tuesday 7th April 2026"
      }
    }
  ]
}) }}

<h2 class="govuk-heading-m govuk-!-margin-top-9">Contract details</h2>

{{ govukSummaryList({
  classes: "govuk-!-width-two-thirds",
  rows: [
    {
      key: {
        text: "Contract start"
      },
      value: {
        text: "1st April 2026"
      }
    },
    {
      key: {
        text: "Contract end"
      },
      value: {
        text: "31st March 2027"
      }
    }
  ]
}) }}
