---
layout: default.njk
title: Collection calendar
---

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/tag/macro.njk" import govukTag %}

<h1 class="govuk-heading-l govuk-!-margin-bottom-6">Collections</h1>

<div class="govuk-tabs govuk-!-margin-bottom-6" data-module="govuk-tabs" data-govuk-tabs-init="">
  <ul class="govuk-tabs__list" role="tablist">
    <li class="govuk-tabs__list-item govuk-tabs__list-item--selected" role="presentation">
      Café Candide, 72 Guild Street
    </li>
    <li class="govuk-tabs__list-item" role="presentation">
      + New premises
    </li>
  </ul>
</div>

{{ govukTable({
  classes: "govuk-table--align-middle govuk-table--with-action-column",
  caption: "Recent collections",
  captionClasses: "govuk-table__caption--m",
  firstCellIsHeader: true,
  head: [
    {
      text: "Date"
    },
    {
      text: ""
    },
    {
      text: "Type"
    },
    {
      text: "Volume"
    },
    {
      text: "Reference"
    },
    {
      text: "Status"
    },
    {
      text: ""
    }
  ],
  rows: [
    [
      {
        text: "7th April"
      },
      {
        html: '<img src="/assets/img/bin-green-brown-lid@2x.png" width="800" height="800" alt="" style="max-width: 2rem;">',
        classes: "width-0"
      },
      {
        text: "Food waste"
      },
      {
        text: "180 litres"
      },
      {
        html: '<a href="/agreement/view/0002041" class="govuk-link">0002041</a>'
      },
      {
        html: govukTag({
          text: "Collected",
          classes: "govuk-tag--green"
        })
      },
      {
        text: ""
      }
    ],
    [
      {
        text: "9th April"
      },
      {
        html: '<img src="/assets/img/large-communal-grey-black-lid@2x.png" width="479" height="435" alt="" style="max-width: 2rem;">',
        classes: "width-0"
      },
      {
        text: "General waste"
      },
      {
        text: "615 litres"
      },
      {
        html: '0002063'
      },
      {
        html: govukTag({
          text: "Collected",
          classes: "govuk-tag--green"
        })
      },
      {
        text: ""
      }
    ],
    [
      {
        text: "14th April"
      },
      {
        html: '<img src="/assets/img/bin-green-brown-lid@2x.png" width="800" height="800" alt="" style="max-width: 2rem;">',
        classes: "width-0"
      },
      {
        text: "Food waste"
      },
      {
        text: "172 litres"
      },
      {
        html: '<a href="/agreement/view/0002041" class="govuk-link">0002041</a>'
      },
      {
        html: govukTag({
          text: "Failed",
          classes: "govuk-tag--red",
          attributes: {
            "data-st8-key": "has-failed-collection",
            "data-st8-show-if-set": true
          }
        }) + ' ' + govukTag({
          text: "Collected",
          classes: "govuk-tag--green",
          attributes: {
            "data-st8-key": "has-failed-collection",
            "data-st8-hide-if-set": true
          }
        })
      },
      {
        text: ""
      }
    ],
    [
      {
        text: "16th April"
      },
      {
        html: '<img src="/assets/img/large-communal-grey-black-lid@2x.png" width="479" height="435" alt="" style="max-width: 2rem;">',
        classes: "width-0"
      },
      {
        text: "General waste"
      },
      {
        text: "–"
      },
      {
        html: '0002063'
      },
      {
        html: govukTag({
          text: "Pending",
          classes: "govuk-tag--grey",
          attributes: {
            "data-st8-key": "collection-missed",
            "data-st8-hide-if-set": true
          }
        }) + ' ' + govukTag({
          text: "Reported missed",
          classes: "govuk-tag--red",
          attributes: {
            "data-st8-key": "collection-missed",
            "data-st8-show-if-set": true
          }
        })
      },
      {
        html: govukButton({
          text: "Report missed",
          href: "/collections/missed",
          classes: "govuk-button--warning govuk-button--small govuk-!-margin-bottom-0",
          attributes: {
            "data-st8-key": "collection-missed",
            "data-st8-hide-if-set": true
          }
        })
      }
    ]
  ]
}) }}

{{ govukTable({
  classes: "govuk-table--align-middle govuk-table--with-action-column govuk-!-margin-top-9",
  caption: "Upcoming collections",
  captionClasses: "govuk-table__caption--m",
  firstCellIsHeader: true,
  head: [
    {
      text: "Date"
    },
    {
      text: ""
    },
    {
      text: "Type"
    },
    {
      text: "Reference"
    },
    {
      text: "Status"
    },
    {
      text: ""
    }
  ],
  rows: [
    [
      {
        text: "21st April"
      },
      {
        html: '<img src="/assets/img/bin-green-brown-lid@2x.png" width="800" height="800" alt="" style="max-width: 2rem;">',
        classes: "width-0"
      },
      {
        text: "Food waste"
      },
      {
        html: '<a href="/agreement/view/0002041" class="govuk-link">0002041</a>'
      },
      {
        html: govukTag({
          text: "Cancelled",
          classes: "govuk-tag--red",
          attributes: {
            "data-st8-key": "cancel-21-apr",
            "data-st8-show-if-set": true
          }
        }) + ' ' + govukTag({
          text: "Scheduled",
          classes: "govuk-tag--green",
          attributes: {
            "data-st8-key": "cancel-21-apr",
            "data-st8-hide-if-set": true
          }
        })
      },
      {
        html: '<span data-st8-key="cancel-21-apr" data-st8-hide-if-set>' + govukButton({
          text: "Reschedule",
          href: "/agreement/amend",
          classes: "govuk-button--secondary govuk-button--small govuk-!-margin-bottom-0"
        }) + '</span>'
      }
    ],
    [
      {
        text: "23rd April"
      },
      {
        html: '<img src="/assets/img/large-communal-grey-black-lid@2x.png" width="479" height="435" alt="" style="max-width: 2rem;">',
        classes: "width-0"
      },
      {
        text: "General waste"
      },
      {
        html: '0002063'
      },
      {
        html: govukTag({
          text: "Scheduled",
          classes: "govuk-tag--green"
        })
      },
      {
        html: govukButton({
          text: "Reschedule",
          href: "/agreement/amend",
          classes: "govuk-button--secondary govuk-button--small govuk-!-margin-bottom-0"
        })
      }
    ],
    [
      {
        text: "28th April"
      },
      {
        html: '<img src="/assets/img/bin-green-brown-lid@2x.png" width="800" height="800" alt="" style="max-width: 2rem;">',
        classes: "width-0"
      },
      {
        text: "Food waste"
      },
      {
        html: '<a href="/agreement/view/0002041" class="govuk-link">0002041</a>'
      },
      {
        html: govukTag({
          text: "Cancelled",
          classes: "govuk-tag--red",
          attributes: {
            "data-st8-key": "cancel-28-apr",
            "data-st8-show-if-set": true
          }
        }) + ' ' + govukTag({
          text: "Scheduled",
          classes: "govuk-tag--green",
          attributes: {
            "data-st8-key": "cancel-28-apr",
            "data-st8-hide-if-set": true
          }
        })
      },
      {
        html: '<span data-st8-key="cancel-28-apr" data-st8-hide-if-set>' + govukButton({
          text: "Reschedule",
          href: "/agreement/amend",
          classes: "govuk-button--secondary govuk-button--small govuk-!-margin-bottom-0"
        }) + '</span>'
      }
    ],
    [
      {
        text: "30th April"
      },
      {
        html: '<img src="/assets/img/large-communal-grey-black-lid@2x.png" width="479" height="435" alt="" style="max-width: 2rem;">',
        classes: "width-0"
      },
      {
        text: "General waste"
      },
      {
        html: '0002063'
      },
      {
        html: govukTag({
          text: "Scheduled",
          classes: "govuk-tag--green"
        })
      },
      {
        html: govukButton({
          text: "Reschedule",
          href: "/agreement/amend",
          classes: "govuk-button--secondary govuk-button--small govuk-!-margin-bottom-0"
        })
      }
    ]
  ]
}) }}

<div data-st8-key="additional-collection-date-day" data-st8-show-if-set>
{{ govukTable({
  classes: "govuk-table--align-middle govuk-table--with-action-column govuk-!-margin-top-9",
  caption: "Additional collections",
  captionClasses: "govuk-table__caption--m",
  firstCellIsHeader: true,
  head: [
    {
      text: "Date"
    },
    {
      text: ""
    },
    {
      text: "Type"
    },
    {
      text: "Reference"
    },
    {
      text: "Status"
    },
    {
      text: ""
    }
  ],
  rows: [
    [
      {
        html: '<span class="js-additional-collection-date">—</span>'
      },
      {
        html: '<img src="/assets/img/bin-green-brown-lid@2x.png" width="800" height="800" alt="" style="max-width: 2rem;">',
        classes: "width-0"
      },
      {
        text: "Food waste"
      },
      {
        html: '<a href="/agreement/view/0002041" class="govuk-link">0002041</a>'
      },
      {
        html: govukTag({
          text: "Additional",
          classes: "govuk-tag--blue"
        })
      },
      {
        text: ""
      }
    ]
  ]
}) }}
</div>
