---
layout: default.njk
title: New waste collection agreement
signed_in: true
---

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

<span class="govuk-caption-m govuk-!-margin-bottom-3">
  New waste collection agreement
</span>

{{ govukRadios({
  name: "chosenPremises",
  fieldset: {
    legend: {
      text: "Where should the waste be collected from?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  items: [
    {
      value: "Café Candide, 72 Guild Street, London, SE23 6FH",
      html: "<strong>Café Candide</strong><br>72 Guild Street<br>London<br>SE23 6FH"
    },
    {
      value: "new",
      text: "New address"
    }
  ]
}) }}

{{ govukButton({
  text: "Continue",
  href: "/setup/need-help"
}) }}
