---
layout: default.njk
title: New waste collection agreement
signed_in: true
---

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/select/macro.njk" import govukSelect %}

<span class="govuk-caption-m govuk-!-margin-bottom-3">
  New waste collection agreement
</span>

<h1 class="govuk-heading-l govuk-!-margin-bottom-6">When should we collect?</h1>

{{ govukDateInput({
  id: "start-date",
  namePrefix: "start-date",
  fieldset: {
    legend: {
      text: "Contract start date",
      classes: "govuk-fieldset__legend--m"
    }
  }
}) }}

{{ govukDateInput({
  id: "first-collection-date",
  namePrefix: "first-collection-date",
  fieldset: {
    legend: {
      text: "First collection date",
      classes: "govuk-fieldset__legend--m"
    }
  }
}) }}

{% call govukFieldset({
  legend: {
    text: "Collection schedule",
    classes: "govuk-fieldset__legend--m"
  }
}) %}

  <div class="inline-inputs">
    <span class="govuk-body">Repeat every</span>

    {{ govukSelect({
      id: "frequency",
      name: "frequency",
      items: [
        {
          value: "1",
          text: "1"
        },
        {
          value: "2",
          text: "2",
          selected: true
        },
        {
          value: "4",
          text: "4"
        }
      ]
    }) }}

    {{ govukSelect({
      id: "period",
      name: "period",
      items: [
        {
          value: "weeks",
          text: "weeks",
          selected: true
        },
        {
          value: "months",
          text: "months"
        }
      ]
    }) }}

    <span class="govuk-body">on a</span>

    {{ govukSelect({
      id: "day",
      name: "day",
      items: [
        {
          value: "monday",
          text: "Monday"
        },
        {
          value: "tuesday",
          text: "Tuesday",
          selected: true
        },
        {
          value: "wednesday",
          text: "Wednesday"
        },
        {
          value: "thursday",
          text: "Thursday"
        },
        {
          value: "friday",
          text: "Friday"
        }
      ]
    }) }}
  </div>

{% endcall %}

{{ govukButton({
  text: "Continue",
  href: "/setup/check",
  classes: "govuk-!-margin-top-9"
}) }}
