---
layout: default.njk
title: Quote requested – New waste collection agreement
signed_in: true
---

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {{ govukPanel({
      titleText: "Business waste collection quote requested",
      html: "Your reference number<br><strong>HDJ2123F-003</strong>"
    }) }}

    <p class="govuk-body">We have sent you a confirmation email.</p>

    <h2 class="govuk-heading-m">What happens next</h2>

    <p class="govuk-body">
      We aim to send you a quote within 5 working days. This will confirm the schedule and costs for your requested waste collection.</p>
    </p>

    <p class="govuk-body">
      You will be emailed a link to review and accept the quote, on your business waste collection dashboard.
    </p>

    <p class="govuk-body">
      Your new waste collection agreement will only start once you accept that quote.
    </p>

    {{ govukButton({
      text: "Done",
      classes: "govuk-button--secondary govuk-!-margin-top-5",
      href: "/"
    }) }}

  </div>
</div>
