---
layout: default.njk
title: Dry mixed recycling
signed_in: true
---

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/tag/macro.njk" import govukTag %}

{{ govukBackLink({
  text: "Back to dashboard",
  href: "/missed-collection",
  classes: "govuk-!-margin-top-0 govuk-!-margin-bottom-6"
}) }}

<h1 class="govuk-heading-l">Waste collection agreement</h1>

{% set html %}
  <p class="govuk-notification-banner__heading">
    There was an issue with this collection on Tuesday 14th April.
  </p>
  <p class="govuk-body">
    The collection crew reported that your waste was not presented in the required container (660 litre blue bin with green lid).
  </p>
  <p class="govuk-body">
    If your container has been damaged, you can <a href="/missed-collection/maintenance" class="govuk-link">order a replacement</a>.
  </p>
  <p class="govuk-body">
    For all other issues, <a href="#" class="govuk-link">contact us</a>.
  </p>
  <p class="govuk-body">
    We will next attempt collection on <strong>Tuesday 21st April</strong>. If the issue with your container is not resolved by then, and we have not heard from you, we may charge you a penalty.
  </p>
{% endset %}

{{ govukNotificationBanner({
  html: html,
  classes: "govuk-notification-banner--warning"
}) }}

{{ govukSummaryList({
  classes: "govuk-!-width-two-thirds",
  rows: [
    {
      key: {
        text: "Reference"
      },
      value: {
        text: "0002201"
      }
    },
    {
      key: {
        text: "Status"
      },
      value: {
        html: govukTag({
          text: "Missed",
          classes: "govuk-tag--red"
        })
      }
    }
  ]
}) }}

<h2 class="govuk-heading-m govuk-!-margin-top-9">Collections in this agreement</h2>

{{ govukSummaryList({
  classes: "govuk-!-width-two-thirds",
  rows: [
    {
      key: {
        text: "Type"
      },
      value: {
        text: "Dry mixed recycling"
      }
    },
    {
      key: {
        text: "Location"
      },
      value: {
        html: "Café Candide, 72 Guild Street<br>London<br>SE23 6FH"
      }
    },
    {
      key: {
        text: "Container"
      },
      value: {
        html: '1 &times; 660 litre, blue bin with green lid <img src="/assets/img/large-communal-recycling-bin.svg" width="760" height="778" alt="" style="margin-top: 0.5rem; max-width: 5rem;">'
      }
    },
    {
      key: {
        text: "Collection schedule"
      },
      value: {
        text: "Every week, on Tuesday"
      }
    },
    {
      key: {
        text: "Last collection"
      },
      value: {
        text: "Tuesday 14th April 2026"
      }
    }
  ]
}) }}

<h2 class="govuk-heading-m govuk-!-margin-top-9">Contract details</h2>

{{ govukSummaryList({
  classes: "govuk-!-width-two-thirds",
  rows: [
    {
      key: {
        text: "Contract start"
      },
      value: {
        text: "1st April 2026"
      }
    },
    {
      key: {
        text: "Contract end"
      },
      value: {
        text: "31st March 2027"
      }
    }
  ]
}) }}
