---
layout: default.njk
title: Business details – Request an account
---

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

<span class="govuk-caption-m govuk-!-margin-bottom-3">
  Request a business waste account
</span>

<h1 class="govuk-heading-l govuk-!-margin-bottom-6">Business details</h1>

<h2 class="govuk-heading-m">Is this the right business?</h2>

{{ govukSummaryList({
  classes: "govuk-!-margin-bottom-9 govuk-!-width-two-thirds",
  rows: [
    {
      key: {
        text: "Registration number"
      },
      value: {
        html: '<span data-st8-key="business-id">90636040</span>'
      }
    },
    {
      key: {
        text: "Registered name"
      },
      value: {
        html: '<span data-st8-key="business-name">Café Candide Ltd</span>'
      }
    },
    {
      key: {
        text: "Registered address"
      },
      value: {
        html: '<div data-st8-key="business-address-line-1">72 Guild Street</div>' + 
              '<div data-st8-key="business-address-line-2"></div>' + 
              '<div data-st8-key="business-address-town">London</div>' + 
              '<div data-st8-key="business-address-county"></div>' + 
              '<div data-st8-key="business-postcode">SE23 6FH</div>'
      }
    },
    {
      key: {
        text: "Type (SIC)"
      },
      value: {
        html: '<span data-st8-key="business-type">56102 Unlicensed restaurants and cafes</span>'
      }
    }
  ]
}) }}

<div class="button-bar">
  {{ govukButton({
    text: "Yes, continue",
    href: "/register/business-employees"
  }) }}
  {{ govukButton({
    text: "No, go back",
    href: "/register/business-id",
    classes: "govuk-button--secondary"
  }) }}
</div>
