---
layout: default.njk
title: Business details – Request an account
---

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}

<span class="govuk-caption-m govuk-!-margin-bottom-3">
  Request a business waste account
</span>

<h1 class="govuk-heading-l govuk-!-margin-bottom-6">Business details</h1>

<p class="govuk-body readable">We need one final piece of information about your business before you can set up your first collection.</p>

{{ govukInput({
  label: {
    text: "Number of employees"
  },
  id: "business-employees",
  name: "business-employees",
  classes: "govuk-input--width-5",
  inputmode: "numeric",
  attributes: {
    "data-st8-key": "business-employees"
  }
}) }}

{{ govukButton({
  text: "Continue",
  href: "/agreement/new/choose-premises"
}) }}
