---
layout: default.njk
title: Sign up for business waste collection
---

{% from "govuk/components/button/macro.njk" import govukButton %}

<h1 class="govuk-heading-l">Sign up for business waste collection</h1>

<p class="govuk-body readable">Requesting a quote for waste collection from your business is quick and easy.</p>

<p class="govuk-body readable">Once you’ve provided your contact details, business details, and details of what amounts and types of waste you need collected, we will send you a quote outlining the costs.</p>

<p class="govuk-body readable">Before you start, make sure you have:</p>

<ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-6">
    <li>Your company registration number</li>
    <li>Your business’ registered address</li>
</ul>

{{ govukButton({
  text: "Start",
  href: "/register/you",
  isStartButton: true
}) }}
