---
layout: default.njk
title: Your details – Request an account
---

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/input/macro.njk" import govukInput %}

<span class="govuk-caption-m govuk-!-margin-bottom-3">
  Request a business waste account
</span>

{% call govukFieldset({
  legend: {
    text: "Your details",
    classes: "govuk-fieldset__legend--l govuk-!-margin-bottom-6",
    isPageHeading: true
  },
  classes: "govuk-!-width-one-half"
}) %}

  {{ govukInput({
    label: {
      text: "First name"
    },
    id: "first-name",
    name: "first-name",
    autocomplete: "given-name"
  }) }}

  {{ govukInput({
    label: {
      text: "Surname"
    },
    id: "surname",
    name: "surname",
    autocomplete: "family-name"
  }) }}

  {{ govukInput({
    label: {
      text: "Phone number"
    },
    id: "phone",
    name: "phone",
    type: "tel",
    autocomplete: "tel"
  }) }}

  {{ govukInput({
    label: {
      text: "Email address"
    },
    id: "email",
    name: "email",
    autocomplete: "email"
  }) }}

{% endcall %}

{{ govukButton({
  text: "Continue",
  href: "/register/business-details"
}) }}
