---
layout: default.njk
title: Your details – Request an account
---

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/password-input/macro.njk" import govukPasswordInput %}

<span class="govuk-caption-m govuk-!-margin-bottom-3">
  Request a business waste account
</span>

{% call govukFieldset({
  legend: {
    text: "Your details",
    classes: "govuk-fieldset__legend--l govuk-!-margin-bottom-6",
    isPageHeading: true
  },
  classes: "govuk-!-width-one-half"
}) %}

  <p class="govuk-body readable">We’ll use these details to give you access to your business waste dashboard.</p>

  <p class="govuk-body readable govuk-!-margin-bottom-6">You will be able to invite other partners or employees in your business to have access to the dashboard later.</p>

  {{ govukInput({
    label: {
      text: "Name"
    },
    id: "name",
    name: "name",
    autocomplete: "name",
    attributes: {
      "data-st8-key": "user-name"
    }
  }) }}

  {{ govukInput({
    label: {
      text: "Phone number"
    },
    id: "phone",
    name: "phone",
    type: "tel",
    autocomplete: "tel",
    attributes: {
      "data-st8-key": "user-phone"
    }
  }) }}

  {{ govukInput({
    label: {
      text: "Email address"
    },
    id: "email",
    name: "email",
    autocomplete: "email",
    attributes: {
      "data-st8-key": "user-email"
    }
  }) }}

  {{ govukPasswordInput({
    label: {
      text: "Password"
    },
    id: "password-input",
    name: "password",
    value: "wasteworks is awesome",
    autocomplete: "new-password"
  }) }}

{% endcall %}

{{ govukButton({
  text: "Continue",
  href: "/register/business-id"
}) }}
