---
layout: default.njk
title: Request an additional collection – Amendment
---

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{{ govukBackLink({
  text: "Back",
  href: "/agreement/amend",
  classes: "govuk-!-margin-top-0 govuk-!-margin-bottom-6"
}) }}

<span class="govuk-caption-l govuk-!-margin-bottom-3">
  Agreement 0002041
</span>

<h1 class="govuk-heading-l govuk-!-margin-bottom-6">Request an additional collection</h1>

{{ govukSummaryList({
  classes: "govuk-!-width-two-thirds govuk-!-margin-bottom-9",
  rows: [
    {
      key: {
        text: "Waste type"
      },
      value: {
        text: "Food waste"
      }
    },
    {
      key: {
        text: "Container"
      },
      value: {
        html: '1 &times; 240 litre, green with brown lid'
      }
    },
    {
      key: {
        text: "Schedule"
      },
      value: {
        text: "Every week, on Tuesday"
      }
    },
    {
      key: {
        text: "Upcoming collections"
      },
      value: {
        html: '<ul class="govuk-list govuk-list--bullet">
           <li>Tuesday 21st April 2026</li>
           <li>Tuesday 28th April 2026</li>
         </ul>'
      }
    }
  ]
}) }}

{{ govukDateInput({
  id: "additional-collection-date",
  namePrefix: "additional-collection-date",
  classes: "st8ify govuk-!-margin-bottom-6",
  fieldset: {
    legend: {
      text: "What date do you need an additional collection?",
      classes: "govuk-fieldset__legend--m"
    }
  },
  hint: {
    text: "For example, 24 4 2026"
  }
}) }}

{{ govukButton({
  text: "Continue",
  href: "/agreement/amend/additional/check"
}) }}
