---
layout: backstage.njk
---

<h1 class="govuk-heading-l">Demo starting points</h1>

<ul class="govuk-list">
  <li>
    <a class="govuk-link" href="/register">User registration</a>
  </li>
  <li>
    <a class="govuk-link" href="/setup">Setting up first collection</a>
  </li>
  <li>
    <a class="govuk-link" href="/review-quote">Reviewing first quote</a>
  </li>
  <li>
    <a class="govuk-link" href="/dashboard/sign-in">Business dashboard</a>
  </li>
  <li>
    <a class="govuk-link" href="/missed-collection/sign-in">Missed collection</a>
  </li>
</ul>
