.card {
    position: relative;
    padding: 1rem;
    border: 1px solid $govuk-border-colour;

    & > :first-child {
        margin-top: 0 !important;
    }

    & > :last-child {
        margin-bottom: 0 !important;
    }
}

.card__stretched-link {
    &:before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
}
